<% layout('../templates/boilerplate') -%>
<h1 id="login" style="text-align: center;">Register</h1>
<form class="col-10 offset-1 mt-3 col-lg-6 offset-lg-3 border border-2 rounded p-4 mb-3 needs-validation" action="/signup" method="POST" id="signup-form" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label for="username" class="form-label required">Full name</label>
        <input type="text" class="form-control" placeholder="Alex Smith" id="username" name="username" required></input>
        <div class="invalid-feedback">
          Your name is required
    </div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label required">Your email</label>
        <input type="email" class="form-control" placeholder="john@gmail.com" name="email" required></input>
        <div class="invalid-feedback">
          Your email is required
        </div>
    </div>
    <div class="mb-3">
        <label for="about" class="form-label">About yourself</label>
        <textarea type="text" class="form-control" id="about" name="about"></textarea>
    </div>
    <div class="mb-3">
      <select class="form-select required" aria-label="Gender" name="gender" required>
        <option selected value="">Select your gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="others">Others</option>
      </select>
      <div class="invalid-feedback">
        Your gender is required
      </div>
    </div>
    <div class="mb-3">
        <label for="dob" class="form-label required">Your date of birth</label>
        <input type="date" class="form-control" placeholder="abc@xyz.com" id="dob" name="dob" required></input>
        <div class="invalid-feedback">
          Your date of birth is required
        </div>
    </div>
    <div class="mb-3">
        <label for="address" class="form-label required">Your address</label>
        <textarea class="form-control" id="address" name="address" required></textarea>
        <div class="invalid-feedback">
            Your address is required
        </div>
    </div>
    <div class="mb-3">
      <label for="profilePic" class="form-label">Choose profile picture</label>
      <input type="file" name="profilePicUrl" id="profilePic" class="form-control" accept="image/*">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label required">Your password</label>
        <input type="password" class="form-control" name="password" id="password" required></input>
        <div class="invalid-feedback">
          Password is required
        </div>
    </div>
    <div class="mb-3">
        <label for="conf-password" class="form-label required">Re-type your password</label>
        <input type="password" class="form-control" id="conf-password" required></input>
        <div class="invalid-feedback">
          Please re-type the same password
        </div>
    </div>
    <button class="btn btn-primary d-flex align-items-center gap-1" id="signup-form-btn">Sign up <i class="fa-solid fa-right-to-bracket"></i></button>
</form>