<div class="row mt-3">
    <% if (success && success.length) { %>
        <div class="alert alert-success d-flex align-items-center col-10 offset-1 col-lg-6 offset-lg-3 alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-circle-check flash-icon"></i>
            <div>
              <%= success %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
    <% if (error && error.length) { %>
        <div class="alert alert-danger d-flex align-items-center col-lg-6 col-10 offset-1 offset-lg-3 alert-dismissible fade show" role="alert">
            <i class="fa-solid fa-circle-exclamation flash-icon"></i>
            <div>
                <%= error %>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% } %>
</div>